layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:.config/zellij/plugins/zjstatus.wasm" {
                // -- Catppuccin Macchiato --
                // color_rosewater "#f4dbd6"
                // color_flamingo "#f0c6c6"
                // color_pink "#f5bde6"
                // color_mauve "#c6a0f6"
                // color_red "#ed8796"
                // color_maroon "#ee99a0"
                // color_peach "#f5a97f"
                // color_yellow "#eed49f"
                // color_green "#a6da95"
                // color_teal "#8bd5ca"
                // color_sky "#91d7e3"
                // color_sapphire "#7dc4e4"
                // color_blue "#8aadf4"
                // color_lavender "#b7bdf8"
                // color_text "#cad3f5"
                // color_subtext1 "#b8c0e0"
                // color_subtext0 "#a5adcb"
                // color_overlay2 "#939ab7"
                // color_overlay1 "#8087a2"
                // color_overlay0 "#6e738d"
                // color_surface2 "#5b6078"
                // color_surface1 "#494d64"
                // color_surface0 "#24273a"
                // color_base "#24273a"
                // color_mantle "#1e2030"
                // color_crust "#181926"

                // -- Tokyo Night --
                color_rosewater "#f7768e"
                color_flamingo "#ff9e64"
                color_pink "#f7768e"
                color_mauve "#bb9af7"
                color_red "#f7768e"
                color_maroon "#db4b4b"
                color_peach "#ff9e64"
                color_yellow "#e0af68"
                color_green "#9ece6a"
                color_teal "#73daca"
                color_sky "#7dcfff"
                color_sapphire "#2ac3de"
                color_blue "#7aa2f7"
                color_lavender "#c0caf5"
                color_text "#c0caf5"
                color_subtext1 "#a9b1d6"
                color_subtext0 "#9aa5ce"
                color_overlay2 "#787c99"
                color_overlay1 "#565f89"
                color_overlay0 "#414868"
                color_surface2 "#3b4261"
                color_surface1 "#292e42"
                color_surface0 "#1f2335"
                color_base "#1a1b26"
                color_mantle "#16161e"
                color_crust "#13131a"

                format_left   "{mode}#[bg=$surface0] {tabs}"
                format_center "{notifications}"
                format_right  "[bg=$surface0,fg=$maroon]#[bg=$maroon,fg=$crust]󰃭 #[bg=$surface1,fg=$maroon,bold] {datetime}#[bg=$surface0,fg=$surface1]"
                format_space  "#[bg=$surface0]"
                format_hide_on_overlength "true"
                format_precedence "lrc"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[bg=$surface0]{char}"
                border_position "top"

                mode_normal        "#[bg=$green,fg=$crust,bold] NORMAL#[bg=$surface0,fg=$green]"
                mode_tmux          "#[bg=$mauve,fg=$crust,bold] TMUX#[bg=$surface0,fg=$mauve]"
                mode_locked        "#[bg=$red,fg=$crust,bold] LOCKED#[bg=$surface0,fg=$red]"
                mode_pane          "#[bg=$teal,fg=$crust,bold] PANE#[bg=$surface0,fg=$teal]"
                mode_tab           "#[bg=$teal,fg=$crust,bold] TAB#[bg=$surface0,fg=$teal]"
                mode_scroll        "#[bg=$flamingo,fg=$crust,bold] SCROLL#[bg=$surface0,fg=$flamingo]"
                mode_enter_search  "#[bg=$flamingo,fg=$crust,bold] ENT-SEARCH#[bg=$surface0,fg=$flamingo]"
                mode_search        "#[bg=$flamingo,fg=$crust,bold] SEARCH#[bg=$surface0,fg=$flamingo]"
                mode_resize        "#[bg=$yellow,fg=$crust,bold] RESIZE#[bg=$surface0,fg=$yellow]"
                mode_rename_tab    "#[bg=$yellow,fg=$crust,bold] RENAME-TAB#[bg=$surface0,fg=$yellow]"
                mode_rename_pane   "#[bg=$yellow,fg=$crust,bold] RENAME-PANE#[bg=$surface0,fg=$yellow]"
                mode_move          "#[bg=$yellow,fg=$crust,bold] MOVE#[bg=$surface0,fg=$yellow]"
                mode_session       "#[bg=$pink,fg=$crust,bold] SESSION#[bg=$surface0,fg=$pink]"
                mode_prompt        "#[bg=$pink,fg=$crust,bold] PROMPT#[bg=$surface0,fg=$pink]"

                tab_normal              "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{floating_indicator}#[bg=$surface0,fg=$surface1]"
                tab_normal_fullscreen   "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{fullscreen_indicator}#[bg=$surface0,fg=$surface1]"
                tab_normal_sync         "#[bg=$surface0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{sync_indicator}#[bg=$surface0,fg=$surface1]"
                tab_active              "#[bg=$surface0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{floating_indicator}#[bg=$surface0,fg=$surface1]"
                tab_active_fullscreen   "#[bg=$surface0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{fullscreen_indicator}#[bg=$surface0,fg=$surface1]"
                tab_active_sync         "#[bg=$surface0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{sync_indicator}#[bg=$surface0,fg=$surface1]"
                tab_separator           "#[bg=$surface0] "

                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                notification_format_unread "#[bg=surface0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$surface0,fg=$yellow]"
                notification_format_no_notifications ""
                notification_show_interval "10"

                datetime          "{format}"
                datetime_format   "%m-%d 󰅐 %H:%M"
                datetime_timezone "America/New_York"
            }
        }
        children
        pane size=1 borderless=true {
            plugin location="file:.config/zellij/plugins/zjstatus.wasm" {
                // -- Tokyo Night (matching top bar) --
                color_rosewater "#f7768e"
                color_flamingo "#ff9e64"
                color_pink "#f7768e"
                color_mauve "#bb9af7"
                color_red "#f7768e"
                color_maroon "#db4b4b"
                color_peach "#ff9e64"
                color_yellow "#e0af68"
                color_green "#9ece6a"
                color_teal "#73daca"
                color_sky "#7dcfff"
                color_sapphire "#2ac3de"
                color_blue "#7aa2f7"
                color_lavender "#c0caf5"
                color_text "#c0caf5"
                color_subtext1 "#a9b1d6"
                color_subtext0 "#9aa5ce"
                color_overlay2 "#787c99"
                color_overlay1 "#565f89"
                color_overlay0 "#414868"
                color_surface2 "#3b4261"
                color_surface1 "#292e42"
                color_surface0 "#1f2335"
                color_base "#1a1b26"
                color_mantle "#16161e"
                color_crust "#13131a"

                format_left   "{mode}"
                format_center ""
                format_right  ""
                format_space  "#[bg=$surface0]"
                format_hide_on_overlength "true"
                format_precedence "lrc"

                border_enabled  "false"

                mode_normal        "#[bg=$green,fg=$crust,bold] NORMAL #[bg=$surface0,fg=$green] #[fg=$overlay1]g #[fg=$text]Lock  #[fg=$overlay1]p #[fg=$text]Pane  #[fg=$overlay1]t #[fg=$text]Tab  #[fg=$overlay1]n #[fg=$text]Resize  #[fg=$overlay1]h #[fg=$text]Move  #[fg=$overlay1]s #[fg=$text]Scroll  #[fg=$overlay1]o #[fg=$text]Session  #[fg=$overlay1]q #[fg=$text]Quit"
                mode_tmux          "#[bg=$mauve,fg=$crust,bold] TMUX #[bg=$surface0,fg=$mauve] #[fg=$overlay1][ #[fg=$text]Scroll  #[fg=$overlay1]\" #[fg=$text]HSplit  #[fg=$overlay1]% #[fg=$text]VSplit  #[fg=$overlay1]z #[fg=$text]Full  #[fg=$overlay1]c #[fg=$text]New Tab  #[fg=$overlay1]p/n #[fg=$text]Tabs  #[fg=$overlay1]x #[fg=$text]Close  #[fg=$overlay1]d #[fg=$text]Detach"
                mode_locked        "#[bg=$red,fg=$crust,bold] LOCKED #[bg=$surface0,fg=$red] #[fg=$overlay1]Ctrl+g #[fg=$text]Unlock"
                mode_pane          "#[bg=$teal,fg=$crust,bold] PANE #[bg=$surface0,fg=$teal] #[fg=$overlay1]h/j/k/l #[fg=$text]Focus  #[fg=$overlay1]n #[fg=$text]New  #[fg=$overlay1]d #[fg=$text]Down  #[fg=$overlay1]r #[fg=$text]Right  #[fg=$overlay1]s #[fg=$text]Stack  #[fg=$overlay1]x #[fg=$text]Close  #[fg=$overlay1]f #[fg=$text]Full  #[fg=$overlay1]w #[fg=$text]Float  #[fg=$overlay1]c #[fg=$text]Rename"
                mode_tab           "#[bg=$teal,fg=$crust,bold] TAB #[bg=$surface0,fg=$teal] #[fg=$overlay1]h/l #[fg=$text]Navigate  #[fg=$overlay1]n #[fg=$text]New  #[fg=$overlay1]x #[fg=$text]Close  #[fg=$overlay1]r #[fg=$text]Rename  #[fg=$overlay1]s #[fg=$text]Sync  #[fg=$overlay1]b #[fg=$text]Break  #[fg=$overlay1]1-9 #[fg=$text]GoTo"
                mode_scroll        "#[bg=$flamingo,fg=$crust,bold] SCROLL #[bg=$surface0,fg=$flamingo] #[fg=$overlay1]j/k #[fg=$text]Scroll  #[fg=$overlay1]Ctrl+f/b #[fg=$text]Page  #[fg=$overlay1]d/u #[fg=$text]HalfPage  #[fg=$overlay1]e #[fg=$text]Edit  #[fg=$overlay1]s #[fg=$text]Search"
                mode_enter_search  "#[bg=$flamingo,fg=$crust,bold] SEARCH #[bg=$surface0,fg=$flamingo] #[fg=$text]Type to search ... #[fg=$overlay1]Enter #[fg=$text]Confirm  #[fg=$overlay1]Esc #[fg=$text]Cancel"
                mode_search        "#[bg=$flamingo,fg=$crust,bold] SEARCH #[bg=$surface0,fg=$flamingo] #[fg=$overlay1]n/p #[fg=$text]Next/Prev  #[fg=$overlay1]c #[fg=$text]Case  #[fg=$overlay1]w #[fg=$text]Wrap  #[fg=$overlay1]o #[fg=$text]WholeWord"
                mode_resize        "#[bg=$yellow,fg=$crust,bold] RESIZE #[bg=$surface0,fg=$yellow] #[fg=$overlay1]h/j/k/l #[fg=$text]Increase  #[fg=$overlay1]H/J/K/L #[fg=$text]Decrease  #[fg=$overlay1]+/- #[fg=$text]All"
                mode_rename_tab    "#[bg=$yellow,fg=$crust,bold] RENAME TAB #[bg=$surface0,fg=$yellow] #[fg=$text]Type name ... #[fg=$overlay1]Enter #[fg=$text]Confirm  #[fg=$overlay1]Esc #[fg=$text]Cancel"
                mode_rename_pane   "#[bg=$yellow,fg=$crust,bold] RENAME PANE #[bg=$surface0,fg=$yellow] #[fg=$text]Type name ... #[fg=$overlay1]Enter #[fg=$text]Confirm  #[fg=$overlay1]Esc #[fg=$text]Cancel"
                mode_move          "#[bg=$yellow,fg=$crust,bold] MOVE #[bg=$surface0,fg=$yellow] #[fg=$overlay1]h/j/k/l #[fg=$text]Direction  #[fg=$overlay1]n/Tab #[fg=$text]Next  #[fg=$overlay1]p #[fg=$text]Prev"
                mode_session       "#[bg=$pink,fg=$crust,bold] SESSION #[bg=$surface0,fg=$pink] #[fg=$overlay1]d #[fg=$text]Detach  #[fg=$overlay1]w #[fg=$text]Manager  #[fg=$overlay1]c #[fg=$text]Config  #[fg=$overlay1]p #[fg=$text]Plugins"
                mode_prompt        "#[bg=$pink,fg=$crust,bold] PROMPT #[bg=$surface0,fg=$pink]"
            }
        }
    }
}
